.product__card {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  width: 320px;
  height: 480px;
  display: flex;
  flex-direction: column;
  padding: 14px 48px;
  border: 0;
  border-radius: 12px;
}

.product__item_checked:not(.product__item_mouseover):hover .product__card::before {
  content: attr(data-checked-hover);
  display: block;
  box-sizing: border-box;
  z-index: 1;
  margin: 7px 0;
  font-size: 16px;
  line-height: normal;
}

.product__card {
  pointer-events: none;
}
