.product__card {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  width: 320px;
  height: 480px;
  display: flex;
  flex-direction: column;
  padding: 14px 48px;
  border: 0;
  border-radius: 12px;
  color: $common-default;

  &:hover {
    color: $common-hover;
  }
}
