.page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-image:
    linear-gradient(to top, hsla(0, 0%, 0%, 0.5) 0%, hsla(0, 0%, 0%, 0) 50%, hsla(0, 0%, 0%, 0.5) 100%),
    url(../../assets/images/pattern.png);
}
