@font-face {
  font-family: Exo2;
  font-style: normal;
  font-weight: 100;
  src:
    url(../../assets/fonts/Exo2.0-Thin.woff2),
    url(../../assets/fonts/Exo2.0-Thin.woff);
}

@font-face {
  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: 400;
  src:
    local("Trebuchet MS"),
    local("TrebuchetMS");
}

@custom-media --phone-only (max-width: 599px);
@custom-media --tablet-only (min-width: 600px) and (max-width: 1199px);
@custom-media --tablet-up (min-width: 600px);
@custom-media --desktop-up (min-width: 1200px);
@custom-media --retina (min-resolution: 1.5dppx), (min-resolution: 144dpi);

$main: hsl(0, 0%, 0%);
$invert: hsl(0, 0%, 100%);
$bg-color: hsl(0, 0%, 95%);
$disabled: hsl(0, 0%, 70%);
$warning: hsl(60, 100%, 70%);
$common-default: hsl(200, 82%, 47%);
$common-hover: hsl(200, 79%, 54%);
$marked-default: hsl(335, 82%, 47%);
$marked-hover: hsl(335, 79%, 54%);

:root {
  font-family: Trebuchet MS, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: $invert;
  background-color: $main;
}
