@font-face {
  font-family: Exo2;
  font-style: normal;
  font-weight: 100;
  src:
    url(../../assets/fonts/Exo2.0-Thin.woff2),
    url(../../assets/fonts/Exo2.0-Thin.woff);
}

@font-face {
  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: 400;
  src:
    local("Trebuchet MS"),
    local("TrebuchetMS");
}

@custom-media --phone-only (max-width: 599px);
@custom-media --tablet-only (min-width: 600px) and (max-width: 1199px);
@custom-media --tablet-up (min-width: 600px);
@custom-media --desktop-up (min-width: 1200px);
@custom-media --retina (min-resolution: 1.5dppx), (min-resolution: 144dpi);

$text-color-main: hsl(0, 0%, 0%);
$text-color-invert: hsl(0, 0%, 100%);
$text-color-disabled: hsl(0, 0%, 70%);
$text-color-warning: hsl(60, 100%, 70%);
$default: hsl(200, 82%, 47%);
$default-hover: hsl(200, 79%, 54%);
$selected: hsl(335, 82%, 47%);
$selected-hover: hsl(335, 79%, 54%);

:root {
  font-size: 20px;
  font-family: Trebuchet MS, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
}
